<a href="https://colab.research.google.com/github/RodrigoOBC/Notebook_MarcineLearning/blob/master/ClassificacaoLinearSVC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
import pandas as pd

In [ ]:
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [ ]:
x = dados[["principal","como_funciona","contato"]]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [ ]:
treino_x = x[:70]
treino_y = y[:70]
teste_x = x[70:]
teste_y = y[70:]

In [ ]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

Acuracia = accuracy_score(teste_y, previsoes)
print(f'Acurácia: {Acuracia*100}')

Acurácia: 96.55172413793103